---
const year = new Date().getFullYear()
---

<footer class="footer shadow">
  <div class="links"></div>
  <div class="company h-14 text-xs text-center bg-indigo-50 grid content-center">
    <div class="kvk">
      <span class="text">KVK 82342415</span>
    </div>
    <div class="name">
      <span class="text">Digi Bedrijf BV &copy; {year}</span>
    </div>
  </div>
</footer>